form(method="post" action="/register")
    table 
        tr
            td Name 
            td 
                input(type="text" name="name")
        tr 
            td Email
            td 
                input(type="text" name="Email")
        tr 
            td Password 
            td 
                input(type="password" name="password")
        tr 
            td  
            td 
                <input type="checkbox" value="lsRememberMe" id="rememberMe"> <label for="rememberMe">Remember me</label>
        tr 
            td
            td
                input(type="submit" value="Register")