extends layout
block content 
    .login-panel 
        <h2>Login To Your Account</h2>
        include includes/login-form 
    .register-panel 
        <h3>Create Account</h3>
        include includes/register-form
